{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
  .wrapper {
    position: relative;      /* база координат */
    /* display: inline-block;   розмір = розмір textarea */
  }

  #codeArea {
    position: relative;
    z-index: 1;
    /* resize:both; */
  }

  #canvas1 {
    position: absolute;
    border: thin solid red;
    top: 0;
    left: 0;
    z-index: 2;              /* вище за textarea */
    pointer-events: none;    /* щоб кліки проходили до textarea */
  }

</style>

<style>
  .dt {
    margin-top: 10px;
    font-size: smaller;
    font-style: italic;
  }

  .ok {
    background-color:palegreen;
  }
</style>

  <div class="container">
    <h5 class="title">Користувач {{ticket.username}}. Задача "{{ticket.problem.title}}"</h5>
    <h6>Початок о {{record.when}}</h6>
  
    {% set class_ = "ok" if record.check.startswith('OK') else "wrong"  %}
    {% set n_rows = (record.code | length - (record.code | replace('\n', '') | length)) + 1 %} 

    <div>
      <div class="dt">{{record.when}} <span id="stepTime"></span></div>
      <div class="wrapper">
        <textarea id="codeArea" rows="{{n_rows}}" class="{{class_}}">{{record.code}}</textarea>
        <canvas id="canvas1"></canvas>
      </div>
      <input type="range" id="timeRange" min="0" max="1" step="1" />
      <div id="checkDiv" style="font-size: smaller;">{{record.check}}</div>
    </div>

  </div>
{% endblock %}

{% block script %}
<script>
  const codeArea = document.getElementById('codeArea');
  const canvas1 = document.getElementById('canvas1');

  new ResizeObserver(syncSize).observe(codeArea);

  function syncSize() {
    const rect = codeArea.getBoundingClientRect();

    // Встановлюємо реальний розмір canvas
    canvas1.width = codeArea.offsetWidth;
    canvas1.height = codeArea.offsetHeight;

    // І CSS-розмір (щоб повністю співпадав)
    canvas1.style.width = codeArea.offsetWidth + 'px';
    canvas1.style.height = codeArea.offsetHeight + 'px';
  }

  syncSize();
  // window.addEventListener('resize', syncSize);

  let ctx = canvas1.getContext("2d");
  ctx.fillRect(10, 10, 100, 100);
</script>


<script>
  const track_in_base64 = {{ track64 | tojson }};
  const start_time = {{ record.when | tojson }};
</script>
<script src="/static/js/trace_const.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/ticket_show.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}