{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<h1>Видалення {{ problem.title }}</h1>
<form method="post" action="/problem/del/{{problem.id}}">

  {% for k in ['title','attr','lang','author'] %}
    <label>
      {{k}}
      <input type="text" name="{{k}}" value="{{ problem[k] }}" readonly>
    </label>
  {% endfor %}
  {% for k in ['cond','view','hint','code'] %}
    <label>
      {{k}}
      <textarea style="width: 100%; height: 100px;"  name="{{k}}" readonly>{{ problem[k] }}</textarea>
    </label>
  {% endfor %}

  <footer class="grid">
    <button type="submit" style="--pico-color: white; background-color: red;">Видалити</button>
    <a href="/problem/list" role="button" class="secondary">Скасувати</a>
  </footer>
</form>

{% endblock %}