{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Редагування "{{ problem.title }}"</h1>
    <form method="post" >

      {% for k in ['title','attr','lang','author'] %}
      <div class="field">
        <label class="label">{{k}}</label>
        <div class="control">
          <input class="input" type="text" name="{{k}}" value="{{ problem[k] }}">
        </div>
      </div>
      {% endfor %}
      {% for k in ['cond','view','hint','code'] %}
      <div class="field">
        <label class="label">{{k}}</label>
        <div class="control">
          <textarea class="control" style="width: 100%; height: 100px;"  name="{{k}}"
              >{{ problem[k] }}</textarea>
        </div>
      </div>
      {% endfor %}

      
      <div class="field is-grouped mt-4">
        <div class="control">
          <button class="button is-primary" type="submit">Зберегти</button>
        </div>
        <div class="control">
          <a class="button is-light" href="/problemset/list">Скасувати</a>
        </div>
      </div>
    </form>

    
  </div>
</section>
{% endblock %}