{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<h1 class="title">Задача {{ problem.title }}  </h1>

{% if error %}
  <div style="width: 100%; color: red; white-space: pre;" >{{ error }}</div>
{% endif %}

<form method="post" action="/problem/edit/{{problem.id}}">
  {% for k in ['title','attr','author'] %}
    <label>
      {{k}}
      <input type="text" name="{{k}}" value="{{ problem[k] }}">
    </label>
  {% endfor %}

  <label>
    lang
    <select name="lang">
      <option value="js" {% if problem.lang == 'js' %}selected{% endif %}>js</option>
      <option value="py" {% if problem.lang == 'py' %}selected{% endif %}>py</option>
      <option value="cs" {% if problem.lang == 'cs' %}selected{% endif %}>cs</option>
    </select> 
  </label>

  {% for k in ['cond','view','code'] %}
    {% set n_rows = problem[k] | length - (problem[k] | replace('\n', '') | length) %} 
    <label>
      {{k}}
      <textarea style="width: 100%;" rows="{{n_rows}}" name="{{k}}">{{ problem[k] }}</textarea>
    </label>
  {% endfor %}

  <footer class="grid">
    <button type="submit" style="--pico-color: white">Зберегти</button>
    <a href="/problem/list" role="button" class="secondary">Скасувати</a>
  </footer>
</form> 

{% endblock %}