{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

    <h2>Задачник</h2>
    <form method="post" >
      <input type="hidden" name="username" value="{{ problemset.username }}">
      <label>
        Title
        <input type="text" name="title" value="{{ problemset.title }}" required>
      </label>

      <label>
        Problem IDs (через пробіли)
        <textarea id="problem_ids" name="problem_ids" style="width: 100%" readonly>{{ problemset.problem_ids }}</textarea>
      </label>     
      <label>
        Open Time
        <input type="datetime-local" name="open_time" value="{{ problemset.open_time|replace(' ', 'T') }}">
      </label>

      <label>
        Open Minutes
        <input type="number" name="open_minutes" value="{{ problemset.open_minutes }}">
      </label>

      <label>
        Filter
        <input type="text" name="stud_filter" value="{{ problemset.stud_filter }}">
      </label>

      <footer class="grid">
        <button type="submit" >Зберігти</button>
        <a href="/problemset/list" role="button" class="secondary">Скасувати</a>
      </footer>      

    </form>

    <!-- ---------------------- problem list --------------------- -->
    
    <div id="problem_headers">
      {% for problem in problems %}
        <div id="{{problem.id}}" onclick="toggle('{{problem.id}}')" 
             style="font-weight: 400;" title="{{problem.cond}}"  >{{problem.attr}} - {{problem.title}}</div>
      {% endfor %}
    </div>
    
<script src="/static/js/problemset_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}