{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}

<h2>Задачник</h2>
<div style="color: red;">{{err_mes}}</div>
<form method="post"> 
  <label>
    Title
    {% set read_only = "" if request.url.path.endswith("new") else "readonly" %}
    <input type="text" name="title" value="{{ problemset.title }}" required>
  </label>

  <label>
    Open Time <br>
    <input type="datetime-local" id="openTime" name="open_time" value="{{ problemset.open_time }}" style="width: 90%;">
    <button id="buttonNow">now</button>
  </label>

  <label>
    Open Minutes
    <input type="number" name="open_minutes" value="{{ problemset.open_minutes }}">
  </label>

  <label>
    Username Sample
    <input type="text" name="stud_filter" value="{{ problemset.stud_filter }}">
  </label>

  <label>
    Problems
    <textarea name="problem_ids" id="problem_ids" style="width: 100%" readonly>{{ problemset.problem_ids }}</textarea>
  </label>     

  <footer class="grid">
    <button type="submit" >Зберігти</button>
    <a href="/problemset/list" role="button" class="secondary">Скасувати</a>
  </footer> 

  <ul>
      {% for problem in problems %}
      <li style="list-style-type: none" title="{{problem.cond}}" >
        <input type="checkbox"  name="prob" value="{{problem.id}}" onchange="reset_problem_ids(event)"
        {% if problem.checked %}checked{% endif %} >
        <span style="white-space: pre;">{{problem.inline}}</span>
      </li>    
      {% endfor %}
  </ul>

  <footer class="grid">
    <button type="submit" >Зберігти</button>
    <a href="/problemset/list" role="button" class="secondary">Скасувати</a>
  </footer>      
  
</form>

{% endblock %}

{% block script %}
<script src="/static/js/problemset_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}