{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

    <h1>Редагування "{{ problemset.title }}"</h1>
    <form method="post" >
      <input type="hidden" name="username" value="{{ problemset.username }}">

      <label>
        Problem IDs (через пробіли)
        <textarea id="problem_ids" name="problem_ids" style="width: 100%" readonly>{{ problemset.problem_ids }}</textarea>
      </label>

      <div style="margin-bottom: 8px;"> 
        <input type="radio" name="lang" id="lang_js" value="js"> JS &nbsp;&nbsp;&nbsp;
        <input type="radio" name="lang" id="lang_py" value="py"> PY &nbsp;&nbsp;&nbsp;
        <input type="radio" name="lang" id="lang_cs" value="cs"> CS 
        <span id="error_message" class="my-error"></span>
      </div>
      
      <label>
        Open Time
        <input type="datetime-local" name="open_time" value="{{ problemset.open_time|replace(' ', 'T') }}">
      </label>

      <label>
        Open Minutes
        <input type="number" name="open_minutes" value="{{ problemset.open_minutes }}">
      </label>

      <label>
        Filter
        <input type="text" name="stud_filter" value="{{ problemset.stud_filter }}">
      </label>

      <footer class="grid">
        <button type="submit" >Зберігти</button>
        <a href="/problemset/list" role="button" class="secondary">Скасувати</a>
      </footer>      

    </form>

    <!-- ---------------------- problem headers --------------------- -->
    
    <div id="problem_headers">
      <!-- тут заголовки задач  -->
    </div>
    
<script src="/static/js/problemset_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}