{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
.ok {
    color: green;
  }
.wrong {
    color: dimgray;
  }
</style>
<section class="section">
  <div class="container">

    <h3 class="title">Задачник "{{ problemset.title }}"</h3>
    {% for problem in dict.values() %}
      <h6>Задача <a href="/problem/edit/{{problem.id}}">{{problem.title}}</a></h6>

      <table style="width:auto;">
      {% for ticket in problem.tickets %}
        {% set cls = "ok" if ticket.state == 1 else "wrong" %} 
        <tr>
          <td>
            <a href="/ticket/show/{{ticket.id}}" class="{{cls}}">{{ticket.username}}</a>
          </td>
          <td>
            {{ticket.str }}</a>
          </td>
          <td>
            <a href="/ticket/del/{{ticket.id}}/{{problemset.id}}"> del </a>
          </td>
        </tr>
      {% endfor %}
      </table>
      
    {% endfor %}

  </div>
</section>
{% endblock %}