{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
.ok {
    color: green;
  }
.wrong {
    color: blue;
  }
</style>
<section class="section">
  <div class="container">

    <h1 class="title">{{ problemset.title }}</h1>
    {% for problem in dict.values() %}
      <h3>{{problem.title}}</h3>
      {% for ticket in problem.tickets %}
        {% if ticket.state == 1 %} 
        <span style="margin-left: 50px; color:green;">OK</span>
        {% endif%}
        <div>
          <a href="/ticket/show/{{ticket.id}}" class = "{{class_}}">{{ticket.username}}</a>
          <a href="/ticket/del/{{ticket.id}}" style="margin-left: 50px; color:red;"> x </a>
          
        </div>
      {% endfor %}
    {% endfor %}

  </div>
</section>
{% endblock %}