{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
  .dt {
    margin-top: 10px;
    font-size: small;
    font-style: italic;
  }
  .code {
    white-space: pre;
    border: 1px gray solid ;
    box-sizing: border-box;
  }
  .ok {
    background-color:palegreen;
    color: black;

  }
  .wrong {
    color: black;
  }
</style>
<section class="section">
  <div class="container">
    <h2 class="title">{{ticket.username}} - {{ticket.problem.title}}</h2>
  
    {% for r in records %}
      {% set cls = "ok" if r["check"].startswith('OK') else "wrong"  %}
      <div>
        <div class="dt">{{r['when']}}</div>
        <div class="code {{ cls }}">{{r['code']}}</div>
        <div>{{r['check']}}</div>
      </div>
    {% endfor %}
    
  </div>
</section>
{% endblock %}