{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<article>
<h3>Створення і редагування задачника (меню Workbooks, посилання New Workbook) </h3>
<p>В полі Title назва задачника. Назва повинна бути унікальною, і після створення задачника її не можна змінювати.
<p>В полі Problems ідентифікатори задач (тільки для читання).
<p>В полі Open Time дата і час, коли задачник відкриється і задачі можна буде вирішувати.
<p>В полі Open Minutes кількість хвилин, на протязі яких задачник буде відкритий. Кількість - ціле число.
<p>В полі Username Sample регулярний вираз, що визначає імена користувачів, яким буде видно відкритий задачник.
    Якщо вираз відсутній, задачник побачать усі.
<p>Задачі додаються і видаляються з задачника за допомогою списку списку задач з чекбоксами внизу сторінки.
    Наявний зміст можна спостерігати в полі Problems. В задачнику має бути щонайменше одна задача.
    Список задач може бути відфільтроваий (поле фільтру знаходиться у правому верхньому куті сторінки).
</article>


<article>
<h3>Задачі (Problems) </h3>
<p>
Задачі такі самі, як в попередній версії.
</p>

</article>

{% endblock %}
