{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
    h3 {
        color: blue
    }
</style>
<article>
<h3>Створення і редагування задачника</h3>
<h6>(меню Workbooks, посилання "Новий задачник")</h6>
<p>В полі Title назва задачника.
<p>В полі Problems ідентифікатори задач (тільки для читання).
<p>В полі Open Time дата/час, коли задачник відкриється і задачі можна буде вирішувати.
<p>В полі Open Minutes час (ціле число хвилин), на протязі якого задачник буде відкритий. Якщо час відсутній, задачник буде відкритий завжди.
<p>В полі Username Sample регулярний вираз, що визначає імена користувачів, яким буде видно відкритий задачник.
    Якщо вираз відсутній, задачник побачать усі.
<p>Задачі додаються і видаляються з задачника за допомогою списку списку задач з чекбоксами внизу сторінки.
    Наявний зміст можна спостерігати в полі Problems.
    Список задач може бути відфільтроваий (фільтри знаходиться у правому верхньому куті сторінки).
</article>

<article>
<h3>Створення і редагування задач</h3>
<h6>(меню Problems, посилання Нова Задача)</h6>
<p>В полі title назва задачі.
<p>В полі attr атрибути задачі у формі aaa/bbb/ccc...
<p>В полі author им'я володара задачі. Лише володар має право змінювати або видаляти задачу. Користуватися задачею можуть усі.
<p>В полі cond умова задачі. 
    <!-- В умові може бути присутня фраза -->
<p>В полі view те, що буде у вікни коду, коли користувач відкриє задачу.
<p>В полі codе програма, яка тестує користувацькі вирішення. Необхідною частиною програми є авторське вирішення, яке оточується маркерними рядками //BEGIN і //END для C# i javascript або #BEGIN і #END для python.
<p>При збереженні задачі програма перевіряє, що аворське вирішення успішно проходить тестування. Якщо ні, зміни не зберігаються.

</article>



{% endblock %}
