/* ------------------ pico size ------------- */
html {
  font-size: 100%;
}

/* ----------фільтри сутностей----------- */
.filter {
  height: 16px !important; 
  margin-right: 4px;
  max-width: 130px !important; 
}

/* однакова висота кнопок схвалення і відмови на формах */
footer.grid button,
footer.grid a[role="button"] {
    height: 3rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.my-error {
    color: red;
}
