{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title has-text-info">{{ problem.title }}  <small>.{{problem.lang}}</small></h1>
      <div class="content mb-4">
        {{ problem.cond }}
      </div>
      <div class="field">
        <label class="label">Ваш код:</label>
        <div class="control">
          <textarea id="codeArea" class="textarea is-family-monospace" rows="12">{{ problem.view }}</textarea>
        </div>
      </div>
      <input type="hidden" id="problemId" value="{{ problem.id }}">
      <div class="field is-grouped mt-3">
        <div class="control">
          <button id="checkButton" class="button is-primary is-medium">
            <span class="icon"><i class="fas fa-check"></i></span>
            <span>Перевірити</span>
          </button>
        </div>
      </div>
      <div id="message" class="notification is-light mt-4" style="display:none; white-space: pre;"></div>
    </div>
  </div>
</section>


<script>
   const codeArea = document.getElementById("codeArea");
   const checkButton = document.getElementById("checkButton");
   const problemId = document.getElementById("problemId");
   const message = document.getElementById("message");

   checkButton.addEventListener("click", async () => {
      const payload = {
         id: problemId.value,
         solving: codeArea.value
      };

      try {
         const response = await fetch("/check", {
            method: "POST",
            headers: {
               "Content-Type": "application/json"
            },
            body: JSON.stringify(payload)
         });

         if (!response.ok) {
            throw new Error("HTTP error " + response.status);
         }

         const data = await response.json(); // або response.text(), залежно від вашого API
         console.log("Server response:", data);
         message.style.display = "block";
         message.innerHTML = data;

      } catch (err) {
         console.error("Request failed:", err);
      }
   });
</script>

{% endblock %}