<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <!-- Підключення Pico.css -->
   <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <main class="container">
        <nav>
        <ul>
            <li><strong>PSS</strong></li>
        </ul>
        <ul>
            <li><a href="/to_solve">Вирішення задач</a></li>
            <li><a href="/problem/list">Задачі</a></li>
            <li><a href="#">About</a></li>
        </ul>
        </nav>

        {% block content %}{% endblock %}
    </main>
</body>
</html>