<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" href="/static/img/favicon.ico">
    {% block header %} {% endblock %}
</head>
<body>
    <main class="container">
        <nav>
        <ul>
            <li style="color: darkred"><strong>Problem Set</strong></li>
        </ul>
        <ul>
            {% if user and user.role == "student" %}
            <li><a href="/solving" >Solving</a></li>
            <li><a href="#">Довідка</a></li>
            {% else %}
            <li><a href="/problemset/list">Workbooks</a></li>
            <li><a href="/problem/list">Problems</a></li>
            <li><a href="/solving" >Solving</a></li>
            <li><a href="/login/logout" >Logout</a></li>
            <li><a href="/login/help">❓</a></li>
            
            {% endif %}
        </ul>
        <label>
       
        <input style="width: 200px; height: 18px;" id="problem_filter" title="Фільтр задач"> 
        </label> 
        </nav>

        {% block content %}
        {% endblock %}
    </main>

    {% block script %}
    {% endblock %}
    <script src="/static/js/layout.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>