{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Показ {{ problemset.id }}</h1>
    {% for problem in dict.values() %}
      <h3>{{problem.title}}</h3>
      {% for ticket in problem.tickets %}
        <h5>{{ticket.username}}</h5>
        <div style="white-space: pre">{{ticket.solving}}</div>
        <hr/>
        <div style="white-space: pre">{{check_message}}</div>

      {% endfor %}

    {% endfor %}
  </div>
</section>
{% endblock %}