{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Задачі</h1>
    <a class="list-item" href="/problemset}"></a>
    {% if psets and psets|length %}
      <div class="box">
        {% for pset in psets %}
          <h2>{{pset.id }}</h2> 
          <div class="list is-hoverable">
          {% for h in pset.headers %}
            <a class="list-item" href="/problem/{{h.id}}">
              <span class="icon has-text-info">
                <i class="fas fa-book"></i>
              </span>
              <span>{{ h.title }}</span>
              <span class="tag is-info is-light ml-2">{{ h.attr }}</span>
            </a>
            <br/>
          {% endfor %}
        {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="notification is-warning has-text-centered">
        Задач немає.
      </div>
    {% endif %}
  </div>
</section>
<!-- Bulma icons (Font Awesome) -->
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
{% endblock %}