{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
.ok {
    color: green;
  }
.wrong {
    color: blue;
  }

</style>
<section class="section">
  <div class="container">

    <h1 class="title">{{ problemset.title }}</h1>
    {% for problem in dict.values() %}
      <h3>{{problem.title}}</h3>
      {% for ticket in problem.tickets %}
        {% set class_ = "ok" if ticket.comment.startswith('OK') else "wrong"  %} 
        <div><a href="/problem/show/{{ticket.id}}" class = "{{class_}}">{{ticket.username}}</a></div>
      {% endfor %}
    {% endfor %}

  </div>
</section>
{% endblock %}