{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Редагування {{ problemset.id }}</h1>
    <form method="post" >
      <!-- <div class="field">
        <label class="label">ID</label>
        <div class="control">
          <input class="input" type="text" name="id" value="{{ problemset.id }}" readonly>
        </div>
      </div> -->
      <div class="field">
        <label class="label">User ID</label>
        <div class="control">
          <input class="input" type="text" name="user_id" value="{{ problemset.user_id }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Problem IDs (через пробіли)</label>
        <div class="control">
          <!-- <input class="input" type="text" name="problem_ids" value="{{ problemset.problem_ids }}"> -->
          <textarea class="input" id="problem_ids" name="problem_ids">{{ problemset.problem_ids }}</textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Open Time</label>
        <div class="control">
          <input class="input" type="datetime-local" name="open_time" value="{{ problemset.open_time|replace(' ', 'T') }}">
        </div>
      </div>
      <div class="field">
        <label class="label">Open Minutes</label>
        <div class="control">
          <input class="input" type="number" name="open_minutes" value="{{ problemset.open_minutes }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Filter</label>
        <div class="control">
          <input class="input" type="text" name="stud_filter" value="{{ problemset.stud_filter }}">
        </div>
      </div>
      
      <div class="field is-grouped mt-4">
        <div class="control">
          <button class="button is-primary" type="submit">Зберегти</button>
        </div>
        <div class="control">
          <a class="button is-light" href="/problemsets">Скасувати</a>
        </div>
      </div>
    </form>
    <!-- ---------------------- problem headers --------------------- -->
    <hr/>
    <div>
      <input id="filter" type="text" list="suggestions" value="py"  placeholder="Введи js, py або cs"/> 
      <datalist id="suggestions">
        <option value="py">
        <option value="js">
        <option value="cs">
      </datalist>


      <button id="filterButton">Застосувати</button>
    </div>
    <div id="problem_headers">
      <!-- тут заголовки задач  -->
    </div>
    
  </div>
</section>
<script src="/static/problemset_edit.js"></script>
{% endblock %}